.li {
  display: grid;
  justify-self: center;
  list-style: none;
  margin: 1rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #f7f5ef;
  width: 750px;
}

.icon{
  display: grid;
  justify-self: end;
}